<!-- views/config.liquid -->
{% layout 'layout' %}

{% block title %}Config{% endblock %}

{% block title-header %}Config{% endblock %}

{% block content %}
<section>
  <div class="container">
    {% for key in keys %}

        <h2 class="subtitle">{{ key }} {{ modules[key].type }} </h2>
        <section class="flex">
          <div class="card" onclick="window.location.href='/admin/module/{{ key }}/config'">
            <div class="card-header">
              <img src="/{{ key }}/icon.svg" alt="{{ modules[key].name }}">
            </div>
            <div class="card-body">
              <h3 class="card-title">{{ modules[key].name }}</h3>
              <p> {{ modules[key].description }} </p>
            </div>
          </div>
        </section>
    {% endfor %}
  </div>
</section>
{% endblock %}